<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245658246948-hfg76mqunda5v8n49oivotddmr1ibgb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245658246948-hfg76mqunda5v8n49oivotddmr1ibgb4</string>
	<key>API_KEY</key>
	<string>AIzaSyD5cIQp0r-3FeFNFxeO_ncS2VBkaZx_mq8</string>
	<key>GCM_SENDER_ID</key>
	<string>245658246948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MatTech.Bullseye</string>
	<key>PROJECT_ID</key>
	<string>bullseye-32ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>bullseye-32ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245658246948:ios:a79e07ab8adc0fd2b2ddb1</string>
</dict>
</plist>